body {
    background: #000;
    color: rgb(163, 255, 0);
    font-size: 26px;
    font-family: monospace;
    margin: 0;
}

#content {
  width: 74%;
  float: left;
  margin-right: 1%;
  height: 100%;
  overflow: auto;
}

.user-tag {
  background: #454545;
}

.sidebar {
  width: 25%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  float: left;
  position: fixed;
  right: 0;
  margin-right: 7px;
  border: 1px solid rgb(163, 255, 0);
}

.sidebar .header {
  padding: 4px;
  font-size: 32px;
  border-bottom: 1px solid rgb(163, 255, 0);
}

#commands {
  list-style-type: none;
  padding-left: 15px;
}

#commands li:before {
  content: '- ';
}

pre {
  display: inline;
  margin: 15px;
}

code {
  text-decoration: underline;
}

armor:before {
}

armor {
  color: #88AA00;
}

weapon:before {
}

weapon {
  color: #CC0000;
}

item {
  margin-bottom: 20px;
}

.copypasta {
  cursor: pointer;
}

.copypasta:hover {
  background: #555;
}

#history div:last-child {
  margin-bottom: 20px;
}

#input {
  position: relative;
  margin-bottom: 20px;
}

/* #input .dropdown-menu {
  margin-left: -48px;
  list-style-type: none;
  bottom: 6px!important;
  background: #ccc;
  color: rgb(54, 76, 15);
  padding-left: 0;
  font-size: 14px;
  border: 1px solid #777;
  padding: 0 2px;
} */

.textcomplete-item.active {
  background: #666;
}

.textcomplete-dropdown {
  border: 1px solid #333;
  background-color: #000;
  list-style: none;
  padding: 0;
  margin-top: -10px;
  margin-left: -2px;
}

.textcomplete-dropdown li {
  margin: 0;
}

.textcomplete-footer,
.textcomplete-item {
  border-top: 1px solid #333;
}

.textcomplete-item {
  padding: 2px 5px;
  cursor: pointer;
}

.textcomplete-item:hover,
.textcomplete-item.active {
  background: #666;
}

#command {
  width: calc(100% - 48px);
  opacity: 0;
  background: none;
  color: rgb(163, 255, 0);
  border: none;
  font-family: monospace;
  font-size: 22px;
  position: absolute;
  left: 24px;
  z-index: 1;
}

#command:focus {
  border: none;
  outline: none;
}

#input-display {
  /* word-break: break-all; */
  overflow-x: hidden;
  position: absolute;
  left: 24px;
  right: 10px;
}

#input-display .selection {
  animation: blink-underline 2s steps(2, end) infinite;
  -webkit-animation: blink-underline 2s steps(2, end) infinite;
}

#input-display .selection.replacing {
  color: rgb(83, 128, 0);
  text-decoration: underline!important;
}

#input-cursor {
  position: absolute;
  animation: blink 2s steps(2, end) infinite;
  -webkit-animation: blink 2s steps(2, end) infinite;
}

.attachment {
  font-size: 16px;
  padding: 10px;
  border: 1px solid rgb(163, 255, 0);
  margin-bottom: 10px;
}

.attachment.small {
  border: none;
  padding-left: 24px;
  padding-bottom: 0;
  margin-bottom: 10px!important;
}

.attachment.info {
  border-color: #23D5E4;
  color: #23D5E4;
}

.attachment.warning {
  border-color: #E47123;
  color: #E47123;
}

.attachment.error {
  border-color: #cc0000;
  color: #cc0000;
}

.game-title {
  color: #cc0000;
}

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
}
@-webkit-keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
}

@keyframes blink-underline {
  0% {text-decoration: underline;}
  50% {text-decoration: none;}
}
@-webkit-keyframes blink-underline {
  0% {text-decoration: underline;}
  50% {text-decoration: none;}
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #fff;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

body {
  font-size: 22px;
}
